<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <!-- 文件输出格式 -->
    <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level--- [%t] %-40.40logger{39} %-4L: %msg%n" />
    <!-- 开发环境 -->
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
        <logger name="ink.baojie.cloud.appauth8102" level="debug" />
        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <!--测试环境-->
    <springProfile name="test">
        <!-- 每天产生一个文件 -->
        <appender name="TEST-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 文件路径 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 文件名称 -->
                <fileNamePattern>/mnt/logs/auth8102/auth8102.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 文件最大保存历史数量 -->
                <MaxHistory>60</MaxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="TEST-FILE" />
        </root>
    </springProfile>

    <!-- 正式环境 -->
    <springProfile name="prod">
        <!-- 每天产生一个文件 -->
        <appender name="PROD-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 文件路径 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 文件名称 -->
                <fileNamePattern>/mnt/logs/auth8102/auth8102.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 文件最大保存历史数量 -->
                <MaxHistory>60</MaxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <!--<logger name="com.bjs.data.dao" level="debug" />-->
        <root level="info">
            <appender-ref ref="PROD-FILE" />
        </root>
    </springProfile>
</configuration>
